In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

raw_path = Path("../data/raw/creditcard.csv")
df = pd.read_csv(raw_path)
print("Shape:", df.shape)
display(df.head(3))

Shape: (284807, 31)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0

In [2]:
# Class balance
print("Class distribution (0=legit, 1=fraud):")
print(df["Class"].value_counts())
print("Fraud rate:", df["Class"].mean())

Class distribution (0=legit, 1=fraud):
Class
0    284315
1       492
Name: count, dtype: int64
Fraud rate: 0.001727485630620034

In [5]:
# Basic NA check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
# Save a small dev sample for fast iterations (all fraud + 5k legit)
fraud = df[df["Class"]==1]
legit_sample = df[df["Class"]==0].sample(n=min(5000, (df["Class"]==0).sum()), random_state=42)
mini = pd.concat([fraud, legit_sample], axis=0).sample(frac=1.0, random_state=42).reset_index(drop=True)
mini_path = Path("../data/processed/dev_sample.csv")
mini.to_csv(mini_path, index=False)
print("Saved dev sample to:", mini_path.resolve())

Saved dev sample to: C:\Users\prash\OneDrive\Documents\ML Ops Course\Fraud Risk Detection\data\processed\dev_sample.csv

In [8]:
# Quick schema snapshot for reference
print("Columns:", list(df.columns))

Columns: ['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount', 'Class']

In [10]:
mini_data=pd.read_csv(mini_path)
mini_data.shape

(5492, 31)